<link rel="stylesheet" href="/css/header.css">

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-normal" id="brand"><a href="/">El<span class="logo_e">e</span>menti</a></p>
    <nav class="my-2 my-md-0 me-md-3">

        <!-- shopping cart for every user but not Admin-->

        <% if(cart_total) {%>
            <a href="/shopping/cart" class="p-2 btn btn-outline-secondary btn-sm">Produkti preču grozā
                <% if(cart_total) {%>
                    <span class="badge cart_total_q">
                        <%= cart_total %>
                    </span>
                    <% } %>
            </a>
            <% } else {%>
                <a href="/shopping/cart" class="p-2 btn btn-outline-secondary btn-sm">Preču grozs
                </a>
                <% } %>



                    <!-- if user logged and is not admin -->
                    <% if(userLoggedIn && !isAdmin) { %>
                        <a href="/user/<%= userLoggedIn %>/orders"
                            class="p-2 btn btn-outline-secondary btn-sm isUserOptions">Order
                            history</a>
                        <a href="/user/<%= userLoggedIn %>/profile" class="isUserName"><strong>
                                <%= userLoggedInName %>
                            </strong></a>
                        <% } %>


                            <!-- If user is ADMIN -->
                            <% if(isAdmin) {%>
                                <a class="isAdmin p-2 btn btn-outline-secondary btn-sm">
                                    <strong>
                                        <span>Admin</span>
                                        <span class="admin_username">
                                            <%= userLoggedInName %>
                                        </span>
                                    </strong>
                                </a>
                                <a class="p-2 btn btn-outline-secondary btn-sm" href="/manage/orders">Manage
                                    orders</a>
                                <a class="p-2 btn btn-outline-secondary btn-sm"
                                    href="/manage/products">Manage
                                    products</a>
                                <% } %>
    </nav>

    <!-- login logout register buttons-->
    <% if(!userLoggedIn) {%>
        <div class="isNotLogged">
            <a class="btn btn-outline-primary btn-sm" href="/auth/login">Login</a>
            <a class="btn btn-outline-primary btn-sm" href="/auth/register">Register</a>
        </div>
        <% } %>
            <% if(userLoggedIn) { %>
                <div class="isLogged">
                    <form action="/auth/logout" method="post">
                        <button class="btn btn-outline-primary btn-sm">Logout</button>
                    </form>
                </div>
                <% } %>
</header>