<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/user.css">
    <div class="container">
        <h2>Pasūtījumu vēsture</h2>
        <hr>
        <% if(userOrders.length) {%>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <% for(let ord in userOrders) {%>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-<%= userOrders[ord].orderNumber %>">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#<%= userOrders[ord].orderNumber %>" aria-expanded="false"
                                aria-controls="<%= userOrders[ord].orderNumber %>">
                                <p>Pasūtījuma nummurs: <span class="order_number">
                                        <%= userOrders[ord].orderNumber %>
                                    </span></p>

                                <p style="margin-left: 60%">Status: <%=
                                        userOrders[ord].currentStatus
                                        %>
                                </p>
                            </button>
                        </h2>
                        <div id="<%= userOrders[ord].orderNumber %>" class="accordion-collapse collapse"
                            aria-labelledby="<%= userOrders[ord].orderNumber %>"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h6>Piegādes informācija</h6>
                                        <p>
                                            Adrese: <%= userOrders[ord].delivery.address %>
                                        </p>
                                        <p>
                                            Saņēmējs: <%= userOrders[ord].delivery.firstName %>
                                                <%= userOrders[ord].delivery.lastName %>
                                        </p>
                                        <p>Telefons: <%= userOrders[ord].delivery.phone %>
                                        </p>
                                        <p>e-pasts: <%= userOrders[ord].delivery.email %>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <h6>Pasūtījuma apstrādes vēsture</h6>

                                        <% if(userOrders[ord].statusHistory[0].status=="Pending" ) {%>
                                            <p>
                                                Pasūtījums saņemts: <%= userOrders[ord].date %>
                                            </p>
                                            <% } %>
                                                <% for(let st of userOrders[ord].statusHistory) {%>
                                                    <% if(st.status=="Processing" ) {%>
                                                        <p>
                                                            Sākta pasūtījuma apstrāde: <%= st.changeDate %>
                                                        </p>
                                                        <% } %>
                                                            <% if(st.status=="Awaiting payment" ) {%>
                                                                <p>Izsūtīts rēķins, gaidam apmaksu : <%=st.changeDate %>
                                                                </p>
                                                                <% } %>
                                                                    <% if(st.status=="Shipped" ) {%>
                                                                        <p>
                                                                            Pasūtījums nodots piegādei: <%=
                                                                                st.changeDate %>
                                                                        </p>
                                                                        <% } %>
                                                                            <% if(st.status=="Completed" ) {%>
                                                                                <p>
                                                                                    Pasūtījums piegādāts un
                                                                                    noslēgts: <%= st.changeDate %>
                                                                                </p>
                                                                                <% } %>
                                                                                    <% if(st.status=="Canceled" )
                                                                                        {%>
                                                                                        <p>
                                                                                            Pasūtījums atcelts: <%=
                                                                                                st.changeDate %>
                                                                                        </p>
                                                                                        <% } %>
                                                                                            <% } %>

                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-light">
                                            <thead>
                                                <tr>

                                                    <th scope="col">Produkts</th>
                                                    <th scope="col">Skaits</th>
                                                    <th scope="col">Cena</th>
                                                    <th scope="col">Summa</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% for(let pro in userOrders[ord].products) {%>
                                                    <tr>
                                                        <td scope="row">
                                                            <%= userOrders[ord].products[pro].brand %>
                                                                <%= userOrders[ord].products[pro].model %>
                                                        </td>
                                                        <td>
                                                            <%= userOrders[ord].products[pro].quantity %>
                                                        </td>
                                                        <td>
                                                            <%= userOrders[ord].products[pro].price %> &euro;
                                                        </td>
                                                        <td>
                                                            <%= userOrders[ord].products[pro].total %> &euro;
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th scope="col">Vienību kopējais skaits</th>
                                                    <th scope="col">
                                                        <%= userOrders[ord].totalQ %>
                                                    </th>
                                                    <th scope="col">Groza summa</th>
                                                    <th scope="col">
                                                        <%= userOrders[ord].totalSum %> &euro;
                                                    </th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
            <%} else {%>
                <div class="row">
                    <div class="col-3 offset-5">
                        <h6> Nav pasūtījumu.</h6>
                    </div>
                </div>
                <% } %>
    </div>