<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/admin_products.css">
    <div class="back_to_products bg-dark bg-gradient shadow-lg">
        <a href="/shop"><button class="p-1 btn btn-outline-info btn-sm"><span>&#8592;</span> Uz
                e-veikalu</button></a>
    </div>

    <div class="container">
        <div class="row manage_products">

            <!-- ********************************
                        add new product
            ************************************** -->
            <div class="col-5">
                <div class="add_new_product">
                    <form action="/manage/products" method="post" class="needs-validation" enctype="multipart/form-data"
                        novalidate>

                        <p class="created_succes_msg">
                            <%= messageProduct %>
                        </p>
                        <div class="model_container form-group">
                            <div class="mb-3">
                                <label for="brand" class="form-label">Brand</label>
                                <input name="newProduct[brand]" type="text" class="form-control" id="brand"
                                    placeholder="Brand" required>
                            </div>

                            <div class="mb-3">
                                <label for="model" class="form-label">Model</label>
                                <input name="newProduct[model]" type="text" class="form-control" id="model"
                                    placeholder="Model" required>
                            </div>
                        </div>

                        <!-- to add prices-->
                        <div class="price_container">
                            <div class="mb-3">
                                <label for="newPrice" class="form-label">New price</label>
                                <input name="newProduct[newPrice]" type="number" class="form-control" id="newPrice"
                                    placeholder="0" required>
                            </div>
                            <div class="mb-3">
                                <label for="oldPrice" class="form-label">Old price (optional)</label>
                                <input name="newProduct[oldPrice]" type="number" class="form-control" id="oldPrice"
                                    placeholder="0">
                            </div>
                        </div>

                        <!-- to add category -->
                        <div class="category_onSale_container">
                            <div class="mb-3">
                                <select name="newProduct[category]" class="form-select form-control"
                                    aria-label="Default select example" required>
                                    <option value="">Select category</option>
                                    <% for(let i of categories) { %>
                                        <option value="<%= i.category %>">
                                            <%= i.category %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="form-check">
                                <input name="newProduct[onSale]" class="form-check-input" type="checkbox" value="true"
                                    id="onSale">
                                <label class="form-check-label" for="onSale">
                                    Izpārdošanas produkts
                                </label>
                            </div>
                        </div>
                        <div class="image_upload">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile01">Pievienot bildi</label>
                                <input type="file" name="newProduct[image]" class="form-control" id="inputGroupFile01">
                            </div>
                        </div>

                        <!-- to add description -->
                        <div class="textarea_container">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" name="newProduct[description]" id="description" cols="63"
                                rows="8"
                                required></textarea>
                        </div>

                        <div class="button_container">
                            <button type="submit" class="btn btn-primary d-inline-block">Create</button>
                        </div>
                    </form>
                </div>


                <!-- ********************************
                        add new category
            ************************************** -->
                <div class="add_new_category">
                    <form action="/manage/products" method="post" class="needs-validation" novalidate>
                        <label class="form-label new_category_label" for="newCategory">New category</label>


                        <p class="created_succes_msg">
                            <%= messageCategory %>
                        </p>


                        <div class="create_category_container">
                            <input name="newCategory" type="text" class="form-control" name="newCategory"
                                id="newCategory" required>
                            <button class="btn btn-primary btn-sm">Create</button>
                        </div>
                    </form>

                    <!-- list all avaliable categories with option to edit-->
                    <div>
                        <h4>All avaliable categories</h4>

                        <% for(let i of categories) {%>
                            <div class="avaliable_categories">
                                <form action="/manage/products?_method=PATCH" method="post">
                                    <div class="inputs_for_changing_category">
                                        <input class="form-control current_category" readonly type="text"
                                            value="<%= i.category %>"
                                            name="categoryToChange[current]">
                                        <input class="form-control" type="text" value="<%= i.category %>"
                                            name="categoryToChange[new]">
                                        <button class="btn btn-secondary">Change</button>
                                    </div>
                                </form>
                                <!-- Nodzēst kategoriju -->
                                <form action="/manage/products?_method=DELETE" method="post">
                                    <!-- <input type="button" class="btn btn-danger btn-sm" value="Delete"
                                        name="deleteCategory[<%= i._id %>]"> -->
                                    <button class="btn btn-danger btn-sm"
                                        name="categoryID" value="<%= i._id %>"
                                        title="!Tiks izdzēsta visa kategorija, ieskaitot produktus kategorijā!">Delete</button>
                                </form>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>

            <!-- view all added products in database -->
            <div class="col-7">
                <% for(let product of products) {%>

                    <div class="row product_to_edit <%= product.active ? " product_to_edit_active"
                        : "product_to_edit_hidden" %>">
                        <div class="col-5 brand_model">
                            <%= product.brand %>
                                <%= product.model %>
                        </div>
                        <div class="col-3 new_price">
                            New price: <span>
                                <%= product.price.new %> &euro;
                            </span>
                        </div>
                        <div class="col-3 old_price">
                            <% if(product.price.old) {%>
                                Old price: <span>
                                    <%= product.price.old %> &euro;
                                </span>
                                <% } else {%>
                                    Old price: <span>
                                        <%= product.price.new %> &euro;
                                    </span>
                                    <% } %>
                        </div>
                        <div class="col-1 buttons">
                            <a href="/manage/products/<%= product._id %>/edit"><button
                                    class="btn btn-sm btn-secondary">Edit</button></a>
                        </div>


                    </div>
                    <% } %>
            </div>

        </div>
    </div>