<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/products.css">


    <div class="back_to_about bg-dark bg-gradient shadow-lg">
        <a href="/about"><button class="p-1 btn btn-outline-info btn-sm"><span>&#8592</span>Par mums</button></a>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="categories_nav">
                    <% for(let categ of categories) {%>

                        <div class="category" id="<%= categ._id %>"
                            style="background-image: url('<%= categ.image.url %>')">
                            <a href="/products/<%= categ._id %>?category=<%= categ.category %> ">
                                <p>
                                    <%= categ.category %>
                                </p>
                            </a>
                        </div>

                        <% } %>
                </div>
            </div>
        </div>
    </div>