<% layout("/layout/boilerplate.ejs") %>

    <div class="row">
        <div class="col-11 offset-1">
            <div class="d-flex align-items-start">


                <!-- *************************************** NAVIGĀCIJA ********************************-->
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- AKTĪVĀ SADAĻA - IZPĀRDOŠANA -->
                    <a class="nav-link active" id="v-pills-top
                        -tab" data-bs-toggle="pill"
                        href="#v-pills-top"
                        role="tab"
                        aria-controls="v-pills-top" aria-selected="true">
                        IZPĀRDOŠANA
                    </a>

                    <!-- NEAKTĪVĀ SADAĻAS - KATEGORIJAS -->
                    <% for(let i of categories) {%>
                        <a class="nav-link" id="v-pills-<%= i._id %>
                                        -tab" data-bs-toggle="pill"
                            href="#v-pills-<%= i._id %>"
                            role="tab"
                            aria-controls="v-pills-<%= i._id %>" aria-selected="true">

                            <%= i.category %>
                        </a>
                        <% } %>
                </div>

                <!-- *************************************** PRODUKTI *********************************************-->

                <div class="tab-content" id="v-pills-tabContent">

                    <!-- IZPĀRDOŠANAS PRODUKTI-->
                    <div class="tab-pane fade show active" id="v-pills-top"
                        role="tabpanel"
                        aria-labelledby="v-pills-top-tab">
                        <div class="card_container">
                            <!-- produkta kartiņa-->
                            <% for(let o of categories) {%>
                                <% for(let s of o.products) {%>
                                    <% if(s.onSale && s.onSale==true) {%>
                                        <div class="card product_card" style="width: 15rem; max-height: 450px;">
                                            <div class="product_image_container">
                                                <img src="/images/<%= s.model %>.jpg" class="card-img-top"
                                                    alt="<%= s.model %>">
                                            </div>
                                            <div class="card-body">
                                                <p class="card-title product_card_title">
                                                    <%= s.brand %>
                                                        <strong>
                                                            <%= s.model %>
                                                        </strong>
                                                </p>
                                                <p class="card-text">
                                                    Cena <span class="newPriceShow">
                                                        <%= s.price.new %> &euro;
                                                    </span>
                                                    <% if(s.price.old) {%>
                                                        <span class="oldPriceShow">
                                                            <%= s.price.old %> &euro;
                                                        </span>
                                                        <% } %>
                                                </p>
                                                <a href="/products/<%= s._id %>"
                                                    class="btn btn-primary btn-sm">Produkta info</a>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <% } %>

                        </div>
                    </div>


                    <!-- VISI PRODUKTI -->
                    <% for(let i of categories) {%>
                        <div class="tab-pane fade show" id="v-pills-<%= i._id %>"
                            role="tabpanel"
                            aria-labelledby="v-pills-<%= i._id %>-tab">
                            <div class="card_container">
                                <% for(let j of i.products) {%>
                                    <!-- produkta kartiņa-->
                                    <div class="card" style="width: 15rem; max-height: 450px;">
                                        <div class="product_image_container">
                                            <img src="/images/<%= j.model %>.jpg" class="card-img-top"
                                                alt="<%= j.model %>">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-title">
                                                <%= j.brand %>
                                                    <strong>
                                                        <%= j.model %>
                                                    </strong>
                                            </p>
                                            <p class="card-text">
                                                Cena <span class="newPriceShow">
                                                    <%= j.price.new %> &euro;
                                                </span>
                                                <% if(j.price.old) {%>
                                                    <span class="oldPriceShow">
                                                        <%= j.price.old %> &euro;
                                                    </span>
                                                    <% } %>
                                            </p>
                                            <a href="/products/<%= j._id %>"
                                                class="btn btn-primary btn-sm">Produkta info</a>
                                        </div>
                                    </div>
                                    <% } %>


                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </div>