<% layout("/layout/boilerplate.ejs") %>
    <link rel="stylesheet" href="/css/product.css">

    <div class="back_to_products bg-dark bg-gradient shadow-lg">
        <a href="/products/<%= categoryId %>"><button
                class="p-1 btn btn-outline-info btn-sm"><span>&#8592</span>Kategorijas produkti</button></a>
    </div>

    <div class="container product_details">
        <div class="row top-row">
            <div class="col-5">
                <% if(product.onSale) {%>
                    <div class="saleout">
                        Izpārdošana
                    </div>
                    <% } %>
                        <div class="product_image_container" style="background-image: url('<%= product.image.url %>');">
                            
                        </div>
            </div>
            <div class="col-7">
                <div class="model">
                    <p>
                        <%= product.brand %>
                            <strong>
                                <%= product.model %>
                            </strong>

                            <span class="new_price">
                                <%= product.price.new %> &euro;
                            </span>
                            <% if(product.price.old) {%>
                                <span class="old_price">
                                    <%= product.price.old %>

                                        &euro;
                                </span>
                                <% } %>
                    </p>


                </div>
                <div class="description">
                    <p>
                        <%= product.description %>
                    </p>
                </div>

            </div>
        </div>
        <div class="row bottom-row">
            <div class="col-7 offset-5">
                <div class="add_to_cart">
                    <form action="/products/<%= categoryId %>/<%= product._id %>" method="post">
                        <div class="pluss_minuss">
                            <!-- <span><i class="fas fa-minus-circle"></i></span> -->
                            <label style="color: white;" for="quantity">Quantity</label>
                            <input name="product[quantity]" id="quantity" class="form-control" type="number"
                                placeholder="0" min="1">
                            <!-- <span><i class="fa fa-plus-circle"></i></span></i> -->
                        </div>
                        <button class="btn btn-primary add_to_cart_btn">Pievienot grozam</button>
                    </form>
                </div>
            </div>
        </div>
    </div>